Bitmap_1 BITMAP "..\\..\\Indy\\icons\\TIdSSLIOHandlerSocketOpenSSL.bmp"
Bitmap_2 BITMAP "..\\..\\Indy\\icon16\\TIdSSLIOHandlerSocketOpenSSL.bmp"
Bitmap_3 BITMAP "..\\..\\Indy\\Lib\\Protocols\\IconsDotNet\\Unref\\TIdSSLIOHandlerSocketOpenSSL.bmp"
